.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--margin-medium);
  margin: var(--margin-small) 0 0 var(--margin-small);
  flex-wrap: wrap;
}
.label {
  font-weight: bold;
}
.input {
  margin: 0 0 0 var(--margin-small);
  padding: var(--margin-small);
  border-radius: var(--border-radius);
  border: 0;
  font-size: 1.4rem;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s !important;
}


.error {
  margin: var(--margin-medium) 0 var(--margin-large) 0;
  flex-basis:100%;
  color: var(--col-warning);
  text-align: right;
}